@use "reset";
@use "fonts/default";
@use "theme/colors";
@use "theme/structure";

html {
  font-family: "chalet", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
