@font-face {
  font-family: "chalet";
  src: url("../fonts/Chalet-NewYorkNineteenSixty.woff2") format("woff2"),
    url("../fonts/Chalet-NewYorkNineteenSixty.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
